{% extends 'base.html' %}

{% block content %}

<br><br><br>
<div class="container px-lg-3">
    <div class="card text-center mx-auto" style="width: 36rem;">
        <form method="post" enctype="multipart/form-data" class="post-form" action="/addcategory">
            {% csrf_token %}
            <div class="card-header">
                <h1>Add Category</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>
                            <div class="d-flex justify-content-start">Category Name</div>

                        </td>
                        <td>
                            <div class="d-flex justify-content-start"><input type="text" name="name" id="name"></div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}